/* Body */

/* Header */
header {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 975px;
}

#crosshairlogo {
  height: 25px;
  width: 25px;
}

#nav-links {
  padding-top: 3px;
}

#nav-links a {
  text-decoration: none;
  padding: 10px;
  color: black;
  transition: color 0.5s;
}

#nav-links a:hover {
  text-decoration: none;
  color: orangered;
}

/* Main */

#section-1 {
  display: flex;
  margin-top: 100px;
  margin-bottom: 400px;
}

#section-1 img {
}

#section-1 div {
  margin-left: 25px;
  padding-top: 100px;
}

#section-1 h2 {
}

#section-1 h4 {
}

#section-2 {
  margin-top: 400px;
}

/* Footer */

footer {
  display: flex;
  margin-top: 200px;
}
